html {
	min-height:100%;
}

body {
	min-height: 100%;
	background-color: #2f9e17;
	background-image: url(assets/sun1.png), url(assets/barn4.png),url(assets/dog.png);
	background-position: left top, right center, 50px bottom;
	background-repeat: no-repeat, no-repeat,no-repeat;
}

#gameDiv {
	/*font-family:'myLcsFont';*/
	margin: 0 auto;
	width: 780px;
}
